<li [ngClass]= "{
  'list-group-item':true,
  'list-group-item-success':loveIts>0,
  'list-group-item-danger': loveIts<0
}">
  <h2>
    <span>{{ title }}</span>
    <span>{{create_at | date: "dd/MM/yyyy HH:mm"}}</span>
  </h2>
  <p>{{ content }}</p>
  <button class="btn btn-success" (click)="onLove()">Love it</button>
  <button class="btn btn-danger" (click)="onUnlove()">Don't love it</button>
</li>
